@CHARSET "UTF-8";

body {
	background-color: #eeeeee;	
}


.list table {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table tr {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table th {
	background-color: gray;
	font-weight: bold;
	color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table td.date, .list table td.from, .list table td.to, .list table td.code, .list table td.work, .list table td.remark {
    padding: 0px;
}

.list table td.date input, .list table td.from input, .list table td.to input, .list table td.code input, .list table td.work input, .list table td.remark input {
    margin: 0px;
    border: 0px;
    border-style: none;
    padding: 0px;
    height: 22px;
}

.list table td.control input.ui-button {
    padding-bottom: 0.2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.2em;
}

div#loader {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

div#loader.loading {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-image: url("/images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}