@CHARSET "UTF-8";

body {
	background-color: #eeeeee;	
}


.list table {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table tr {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table th {
	background-color: gray;
	font-weight: bold;
	color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}
