@CHARSET "UTF-8";

body {
	background-color: #eeeeee;	
}


.list table {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table tr {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table th {
	background-color: gray;
	font-weight: bold;
	color: white;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

.list table td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
}

div#loader {
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #CCCCCC;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 3px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #CCCCCC;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 3px;
    border-top-color: #CCCCCC;
    border-top-style: solid;
    border-top-width: 3px;
    display: none;
    height: 610px;
    width: 472px;
}

div#loader.loading {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("/images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
}